.post_block{
        background-color: #FAFAFA;
        padding: 15px 20px;  
        border-top: 1px solid lightgrey;
}
.post_image{
        object-fit: contain;
        width: 100%;
        height: 100%;
}
.username_caption{
        font-size: 15px;
        font-weight: 400;
}
.post_profile{
        height: auto;
        margin: 0 -20px;
}
.post_top_block{
        display: flex;
        align-items: center;
}
.post_username{
        font-size: 17px;
        line-height: 1.4;
        font-weight: 700;
        color: black;
        margin-left: 15px;
}
.post_top_block{
        padding-bottom: 15px;
}
.username_caption_block{
        padding: 20px 0;
}